doctype html
html
    head
        title about urtil
        link(rel="stylesheet" type="text/css" href="css/urtil.css")
    body
        header
            .container
                h1
                    a.link(href="index.html") urtil
                nav
                    a.link(href='./about.html') about
                    a.link(href='./examples/example.html') example

        #stage
            br
            p
                a(href="index.html") urtil 
                | is a little tool that generates html pages,
                | similar to the "New Tab" page of Firefox.
            p.    
                When you provide it with a list of webpages like this:
                
            pre.
                github.com
                npmjs.com

            p.    
                It will generate an html page that looks like this:
                
            img(src="./img/tiles.png" width="600")
                
            h2 example configs
            p.
                Some notes on the <a href="https://github.com/monsterkodi/urtil/tree/gh-pages/examples">config files</a> from the <a href='examples/example.html'>main example</a>:
                
            h4 
                a(href="https://github.com/monsterkodi/urtil/blob/gh-pages/examples/example") example
            pre.
                config
                    tileSize    300
                tiles
                useless
                    break
                monsterkodi
                    break
            p.        
                The first two lines tell urtil to make 300 pixel square tiles.
            p.
                If a top level entry contains no dot, urtil assumes it is a local html file.
            p.
                The <b>break</b> keyword centers the preceeding tiles and lets the next tile begin on a new line.
                
            h4 
                a(href="https://github.com/monsterkodi/urtil/blob/gh-pages/examples/example") useless
            pre.
                heeeeeeeey.com                                    
                thatsthefinger.com                                
                eelslap.com                                       
                www.staggeringbeauty.com                          
                www.republiquedesmangues.fr                       
                www.movenowthinklater.com                         
                www.koalastothemax.com                            
                grandpanoclothes.com                              
                ...
            p.
                This list contains a subset of the links from Tim Holmans 
                <a href='https://github.com/tholman/the-useless-web'>useless-web</a>.
            p.  
                No config section was neccessary here because the defaults are suitable for larger link collections.

            h4 
                a(href="https://github.com/monsterkodi/urtil/blob/gh-pages/examples/example") monsterkodi
            pre.                
                config
                    tileSize      300
                monsterkodi.net
                    image         ../monsterkodi.net.png
                monsterkodi.github.io
                    break
                    
                github.com/monsterkodi
                npmjs.com/~monsterkodi
                    break
                    
                projects
                    screenHeight  960
                    refresh
                    break
                
            p.
                The <b>image</b> keyword (4th line) can be used to provide an image in case the website doesn't render with the underlying <a href=https://www.npmjs.com/package/webshot>webshot</a>.
            p.
                If urtil has created a thumbnail image for a webpage in previous runs, it doesn't regenerate it by default.
                The <b>refresh</b> keyword forces it to regenerate the thumbnail on every run.

        footer
            a.link.icon(href="https://github.com/monsterkodi/urtil")
                svg(viewBox="0 0 16 16")
                    path.kitty(d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z")
