body 
    background-color <%= bgColor %>
    padding 30px

a 
    outline none

#stage
    text-align center

.site 
    margin 20px
    box-sizing border-box
    width <%= tileWidth %>px
    height <%= tileHeight %>px
    display inline-block

.site img 
    border-radius 10px
    box-shadow 1px 1px 1px 1px rgba(0, 0, 0, 0.2)

.site img:hover 
    box-shadow 3px 3px 6px 3px rgba(0, 0, 0, 0.1)

.site.empty 
    background-color transparent
