html
    height 100%

body
    margin      0
    padding     0
    background  #2a2a2a
    color       #eaeaea
    font-size   16px
    font-family Verdana
    height      100%
    
header 
    background    #222222
    width         100%
    border-bottom 1px solid #111111
    padding       20px 0
    font-size     18px

nav
    & a
        padding-right 10px

a 
    text-decoration none
    border      none
    outline     none
    color       #63c0f5
    &:hover
        color       #EFAF31
    &:focus img
        border 1px solid gray

img
    display       block
    margin-left   auto
    margin-right  auto
    border 1px solid transparent
  
.link 
    font-weight bold
  
h1, h2, h3, h4, h5, h6 
    margin      0 0 20px
    font-weight bold
    color       #63c0f5
    padding-top 29px
    color       gray

h1 
    font-size   42px
    & a
        color   gray
        &:hover 
        &:focus
            color #63c0f5
#stage 
.container 
    width       90%
    max-width   600px
    margin      0 auto
    text-align  justify

#stage h1 
  font-size 30px

#stage h2 
  font-size 24px

footer
    margin-top    60px
    margin-bottom 60px
    text-align    center

    & .link.icon
        display inline-block
        width  64px
        height 64px
        & path.kitty 
            fill #63c0f5
        &:hover
            color #EFAF31
            & path.kitty 
                fill #EFAF31
        &:focus
            border  none
            outline none
