        span.site.tile
            div.site.name.<%= titleClass %>.
                <%= name %>
            a.site.link(href="<%= href %>")
                img.site.image(src="<%= img %>", width=<%= width %>, height=<%= height %>)
                
